.featured {
  &__container {
    row-gap: 2.5rem;
  }

  &__card {
    position: relative;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: .3s;

    &:hover {
      box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
      padding: 2rem 0 3rem 0;
      
      .featured {
        &__button {
          transform: translateY(0);
          opacity: 1;
        }

        &__price {
          margin-bottom: var(--mb-1-5);
        }
      }
    }
  }

  &__tag {
    position: absolute;
    top: 3rem;
    left: -1rem;
    padding: .5rem 1rem;
    transform: rotate(-90deg);
    background-color: var(--first-color);
    color: #fff;
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    text-transform: uppercase;
  }

  &__img {
    width: 214px;
    margin-bottom: var(--mb-1);
  }

  &__title, &__price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }

  &__title {
    margin-bottom: var(--mb-0-75);
    text-transform: uppercase;
  }

  &__price {
    display: block;
    color: var(--first-color);
    transition: .3s;
  }

  &__button {
    font-size: var(--small-font-size);
    transform: translateY(1rem);
    opacity: 0;
    text-transform: uppercase;
  }
}