@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home {
    &__img {
      &-bg {
        width: 220px;
      }
    }

    &__title {
      font-size: var(--h1-font-size);
    }

    &__button {
      font-size: var(--smaller-font-size);
    }
  }

  .story__square, .story__img, .testimonial__square, .testimonial__img {
    width: 180px;
  }

  .story__square,
  .testimonial__square {
    height: 180px;
  }


  .products {
    &__container {
      grid-template-columns: repeat(1, 180px);
      justify-content: center;
    }
  }
}


@media screen and (min-width: 576px) {
  .home {
    &__img {
      &-bg {
        width: 340px;
      }
    }
  }

  .featured {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  .footer {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;

    &__toggle, &__close {
      display: none;
    }

    &__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }

    &__link {
      text-transform: initial;
      font-size: var(--normal-font-size);
    }

    &__btns {
      margin-left: auto;
    }
  }

  .home {
    &__container {
      padding-top: 6rem;
      grid-template-columns: 1fr max-content;
      align-items: center;
    }

    &__img {
      &-bg {
        order: 1;
        transform: translate(1.5rem, -6rem);
      }
    }

    &__data {
      padding: 0 0 3rem 6rem;
    }

    &__social {
      top: 47%;
      column-gap: 2rem;
    }
  }

  .featured {
    &__title, &__price {
      font-size: var(--normal-font-size);
    }
  }

  .story {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data {
      &-title {
        text-align: initial;

        &::before {
          margin: initial;
        }
      }
    }

    &__images {
      order: -1;
    }
  }

  .products {
    &__container {
      grid-template-columns: repeat(3, 200px);
      justify-content: center;
      gap: 2.5rem;
    }

    &__card {
      padding: 2rem 0;
    }

    &__img {
      height: 150px;
    }
  }

  .testimonial {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .new {
    &__title,
    &__price {
      font-size: var(--normal-font-size);
    }
  }

  .newsletter {
    &__bg {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
      column-gap: 2rem;
      padding: 4.5rem;
    }

    &__subscribe {
      flex-direction: row;
    }

    &__input {
      width: 100%;
    }
  }

  .footer {
    &__container {
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
    }

    &__title {
      font-size: var(--h3-font-size);
    }
  }
}

@media screen and (min-width: 992px) {
  .section {
    &__title {
      font-size: var(--h2-font-size);
    }
  }

  .home {
    &__container {
      column-gap: 2rem;
    }

    &__img {
      width: 480px;

      &-bg {
        width: 480px;
        height: 680px;
      }
    }

    &__social {
      left: -6rem;
    }

    &__data {
      padding: 0 0 8rem 6rem;
    }
  }

  .featured {
    &__container {
      grid-template-columns: repeat(3, 312px);
      padding-top: 2rem;
    }
  }

  .story {
    &__container {
      column-gap: 8rem;
    }

    &__square, &__img {
      width: 450px;
    }

    &__square {
      height: 450px;
    }
  }

  .products {
    &__container {
      padding-top: 2rem;
    }
  }

  .testimonial {
    &__container {
      column-gap: 8rem;
      padding-bottom: 4rem;
    }

    &__square,
    &__img {
      width: 450px;
    }

    &__square {
      height: 450px;
    }
  }

  .new {
    &__container {
      padding-top: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .story {
    &__container {
      column-gap: 13rem;
    }

    &__img {
      left: 5rem;
      top: -5rem;
    }
  }

  .testimonial {
    &__container {
      column-gap: 13rem;
    }

    &__img {
      right: 5rem;
      top: 5rem;
    }
  }

  .scrollUp {
    right: 3rem;
  }
}